{% extends 'base.html' %}
{% load static %}

{% block title %}NoteStorage | Заметки{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
<section class="container drafts-container">
    <h1 class="title-of-drafts">Удалённое</h1>
    <div class="categories">
        <h2 class="categories-title">Категории</h2>
        <div>
            <button class="category" class="box" id="dropTarget">Все</button>
            <button class="category" class="box" id="dropTarget">Личное</button>
            <button class="category" class="box" id="dropTarget">Работа</button>
        </div>
    </div>
    <div class="drafts">
        <div class="draft" draggable="true" id="dragItem">
            <div class="header-of-draft">
                <div class="title-of-draft-block">
                    <h2 class="title-of-draft">Название...</h2>
                </div>
                <button type="button" class="bin-of-draft">
                    <div class="trash"></div>
                </button>
            </div>
            <div class="text-of-draft-block">
                <p class="text-of-draft">.........</p>
            </div>
            <div class="draft-footer">
                <p>Создано: ...</p>
                <p>Изменено: ...</p>
            </div>
        </div>

        <div class="draft">
            <div class="header-of-draft">
                <div class="title-of-draft-block">
                    <h2 class="title-of-draft">Название...</h2>
                </div>
                <button type="button" class="bin-of-draft">
                    <div class="trash"></div>
                </button>
            </div>
            <div class="text-of-draft-block">
                <p class="text-of-draft">.........</p>
            </div>
            <div class="draft-footer">
                <p>Создано: ...</p>
                <p>Изменено: ...</p>
            </div>
        </div>

        <div class="draft">
            <div class="header-of-draft">
                <div class="title-of-draft-block">
                    <h2 class="title-of-draft">Название...</h2>
                </div>
                <button type="button" class="bin-of-draft">
                    <div class="trash"></div>
                </button>
            </div>
            <div class="text-of-draft-block">
                <p class="text-of-draft">.........</p>
            </div>
            <div class="draft-footer">
                <p>Создано: ...</p>
                <p>Изменено: ...</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
{% endblock %}