{% extends 'base.html' %}
{% load static %}

{% block title %}NoteStorage | Главная{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <section class="container">
            <div class="note-form">
                <form action="#" method="POST" class="create-note-form" id="note-form">
                    {% csrf_token %}
                    <div class="note-form-div">
                        <input id="note-title" class="title-input" type="text" placeholder="Название заметки" required>
                        <div id="editor-container" class="editor-container"></div>
                        <input type="hidden" name="note-content" id="hidden-content-input">
                        <button class="submit-btn-note">Сохранить заметку</button>
                    </div>
                    <div class="export">
                        <button type="button" id="download-word" class="export-word">Экспорт в Word</button>
                    </div>
                </form>
            </div>
        </section>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="{% static '../static/js/script-format.js' %}"></script>
    
{% endblock %}