{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/draft.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div class="container header-wrapper">
            <a href="{% url 'home' %}" class="logo-name">
                <div class="logo"></div>
                <h1>NoteStorage</h1>
            </a>
            <nav class="nav_dir">
                <a href="{% url 'home' %}">Главная</a>
                <a title="Корзина" href="{% url 'storage' %}">Удалённое</a>
                <a title="Корзина" href="{% url 'storage' %}">
                    <div class="trash"></div>
                </a>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <div class="footer-block container">
            <div class="footer-info">
                <p>NoteStorage - онлайн заметки с форматированием прямо в вашем браузере.</p>
            </div>
            <div class="links">
                <a href="{% url 'home' %}">Главная</a>
                <a href="{% url 'storage' %}">Удалённое</a>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/script-word.js' %}"></script>
    <script src="{% static 'js/script-drag-and-drop.js' %}"></script>
    <script type="module">
        import * as docx from "https://cdn.jsdelivr.net/npm/docx@9.8.1/+esm";
        window.docx = docx;
    </script>
    {% block extra_js %}{% endblock %}
</body>

</html>