* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body {
    background-color: #E9C46A;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background: #264653;
    color: #fff;
    padding: 10px;
    top: 0px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
}

.header-wrapper a {
    color: #fff;
    text-decoration: none;
}

.header-wrapper h1 {
    margin-top: 10px;
}

.logo-name {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('/images/logo.jpg') center center/cover no-repeat;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
}

nav {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 40px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #dbdbdb;
}

.trash {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("/images/trash.png") center center/cover no-repeat;
}

.auth-buttons {
    display: flex;
    gap: 20px;
}

.auth-buttons button {
    background-color: #E9C46A;
    color: #000;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.auth-buttons button:hover {
    background-color: #a37002;
}

footer {
    height: 120px;
    background-color: #264653;
    padding: 30px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links a {
    text-decoration: none;
    text-decoration: underline;
    color: #ffffff;
}

.links a:hover {
    color: #dbdbdb;
}

.footer-block {
    display: flex;
    justify-content: space-between;
}

.footer-info {
    width: 250px;
    text-align: center;
    color: #ffffff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.open {
    display: block;
}

.modal-dialog {
    margin-top: 100px;
}

.custom-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.custom-form h1 {
    margin-bottom: 20px;
    color: #264653;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 8px;
    color: #264653;
}

.form-group input {
    padding: 10px;
    border-radius: 6px;
}

.submit-btn {
    background-color: #264653;
    color: #ffffff;
    border: none;
    padding: 14px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #1d353f;
}

.btn-close {
    background-color: #264653;
    color: #ffffff;
    border: none;
    padding: 14px;
    margin-bottom: 20px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-close:hover {
    background-color: #1d353f;
}

.btn-close-block {
    display: flex;
    justify-content: right;
}

textarea {
    min-height: 600px;
    max-height: 600px;
    min-width: 500px;
    width: 600px;
    max-width: 900px;
    border: 2px solid #264653;
    border-radius: 10px;
    padding: 4px;
}

.note-form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.title-input {
    width: 500px;
    padding: 20px;
    border-color: #264653;
    border-radius: 10px;
}

.submit-btn-note {
    width: 200px;
    background-color: #264653;
    color: #ffffff;
    border: none;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn-note:hover {
    background-color: #1d353f;
}

.editor-container {
    background-color: #ffffff;
    border-radius: 10px;
}

.ql-editor {
    min-height: 600px;
    max-height: 600px;
    min-width: 500px;
    width: 600px;
    max-width: 900px;
    border: 2px solid #264653;
    border-radius: 10px;
    padding: 4px;
}

.ql-toolbar {
    height: 60px;
    background-color: #ffffff;
    border-radius: 10px;
}

/* Изменение названий заголовков на русский язык */

.ql-snow .ql-picker.ql-header .ql-picker-item::before {
    content: 'Обычный текст' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
    content: 'Заголовок 1' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
    content: 'Заголовок 2' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
    content: 'Заголовок 3' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before {
    content: 'Обычный текст' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before {
    content: 'Заголовок 1' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before {
    content: 'Заголовок 2' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before {
    content: 'Заголовок 3' !important;
}

.drafts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 350px;
}

.title-of-drafts {
    padding: 30px;
    font-size: 30px;
    color: #1d353f;
}

.drafts {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    width: 1140px;
    justify-content: center;
    gap: 40px;
}

.draft {
    width: 350px;
    height: 250px;
    border: 2px solid #264653;
    border-radius: 10px;
    background-color: #ffffff;
}

.header-of-draft {
    display: flex;
    justify-content: space-between;
}

.bin-of-draft {
    width: 50px;
    height: 50px;
    background-color: #264653;
    border: none;
    border-radius: 0 5px 0 20px;
    cursor: pointer;
}

.remove-draft {
    width: 50px;
    height: 50px;
    background-color: #264653;
    border: none;
    border-radius: 5px 0 20px 0;
    cursor: pointer;
}

.remove {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("/images/back-arrow.png") center center/cover no-repeat;
}

.title-of-draft {
    padding: 5px;
}

.text-of-draft-block {
    width: 346px;
    height: 170px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
}

.export {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: #264653;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.export-word {
    width: 100px;
    height: 50px;
    background-color: #3f63da;
    color: #ffffff;
    border: none;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
}

.export-word:hover {
    background-color: #4a6cdb;
}

@media (max-width: 650px) {

    .title-input {
        width: 300px;
    }

    .ql-editor {
        min-height: 600px;
        max-height: 600px;
        min-width: 300px;
        width: 300px;
        max-width: 900px;
    }

    .header-wrapper h1 {
        display: none;
    }
}