.note-form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.title-input {
    width: 500px;
    padding: 20px;
    border-color: #264653;
    border-radius: 10px;
}

.submit-btn-note {
    width: 200px;
    background-color: #264653;
    color: #ffffff;
    border: none;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn-note:hover {
    background-color: #1d353f;
}

.editor-container {
    background-color: #ffffff;
    border-radius: 10px;
}

.ql-editor {
    min-height: 600px;
    max-height: 600px;
    min-width: 500px;
    width: 600px;
    max-width: 900px;
    border: 2px solid #264653;
    border-radius: 10px;
    padding: 4px;
}

.ql-toolbar {
    height: 60px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
}

/* Изменение названий заголовков на русский язык */

.ql-snow .ql-picker.ql-header .ql-picker-item::before {
    content: 'Обычный текст' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
    content: 'Заголовок 1' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
    content: 'Заголовок 2' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
    content: 'Заголовок 3' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before {
    content: 'Обычный текст' !important;
    text-align: center;
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before {
    content: 'Заголовок 1' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before {
    content: 'Заголовок 2' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before {
    content: 'Заголовок 3' !important;
}

.export {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: #264653;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.export-word {
    width: 100px;
    height: 50px;
    background-color: #3f63da;
    color: #ffffff;
    border: none;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
}

.export-word:hover {
    background-color: #4a6cdb;
}